#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 60px;
}

* {
  // border: 1px solid white !important;
  box-sizing: border-box;
}


li {
  &>label {
    flex: 1;
    display: inline-block;
    width: 85%;

    &::first-letter {
      text-transform: uppercase;
    }

    input[type="checkbox"] {
      display: inline;
    }
  }

  button {
    background-color: #1a1a1a88;
  }
}

label {
  display: block;

  input[type="text"] {
    font-size: 1.5em;
    width: 100%;
  }
}

.done {
  text-decoration: line-through white;
}

.deleted {
  font-weight: bold;
  color: red;
}